* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure body takes full width and height */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  top: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  width: 100%;
  background-color: #e6f2df;
  height: 100vh;
  width: 100vw;
}
.content {
  width : 100%;
  max-width: 100%;
}

/* Navbar */
.navbar {
  background-color: #a9beb0; /* Light background */
  padding: 12px 20px;
}

nav {
  width: 12rem;
  height: 100%;
  background-color: rgb(143, 160, 143);
  left: 0;
  top: 0;
  position: absolute;
}
.brand {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: .5px 5px;
  border-radius: 50px;
}

nav ul {
  list-style-type: none;
  margin: 50;
  padding: 0;
}

nav li {
  padding: 0.5rem;
  color: rgb(22, 79, 14);
}

nav a:hover {
  color: rgb(8, 136, 8);
}
.challenge {
  margin-top: 50px;  /* Adjust this value to move it further down */
}
.content {
  left: 12rem;
  position: absolute;
  width: calc(100% - 10rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 239, 211);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* leaf gallery */
.image{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.leaves{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #c1dbd0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #29425b;
    transform: scale(1.05);
}

/* Button colors */
button:nth-child(1) {
    background-color: #195075;
    color: white;
}

button:nth-child(2) {
    background-color: #1f4564;
    color: white;
}

/* Add spacing between buttons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add space between the buttons */
}